#continer{

    margin-top:200px;
 /*   width: 70%;*/
    margin-left: 35%;
    margin-right: 35%;
    /* border: 1px solid rgb(176, 194, 176); */
}

#tag{
    height:30px;
    text-align:center;
    /*background-color:gray;*/
    line-height:30px;
    margin-bottom: 20px;
}
/*unvisited link */
a:link {
    color:rgb(66,139,202);
    font-size: 28px;
    text-decoration:none;
}  
/*visited link */   
a:visited {
    color:rgb(66,139,202);
    text-decoration:none;
}  
/*mouse over link */
a:hover {
    color:rgb(66,139,202);
    text-decoration:underline;
}  
/*selected link */  
a:active {text-decoration:underline;}   


@media all and (orientation : landscape) {
    #continer{
        margin-top:100px;
    }
}
